* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-overlay {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

img {
  max-width: 100%;
}

.product-card {
  text-align: center;
  min-height: 450px;
  margin: 20px auto;
  border-radius: 10px;
  padding-top: 20px;
}
.carousel {
  display: flex;
  align-items: center;
  height: 350px;
  width: 500px;
  padding-bottom: 30px;
}
.img-carousel {
  max-height: 300px;
  max-width: 350px;
  object-fit: contain; 
  margin: auto;
}
.me-auto {
  justify-content: space-between;
  width: 20%;
}
.product-img {
  height: 200px;
  object-fit: contain;
  cursor: pointer;
}
.img-wrapper {
  position: relative;
}
.cover-img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transition: opacity 0.5s linear;
  background-color: #fff;
}
.cover-img:hover{
  opacity: 0;
}
.checkout {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.delete-product {
  font-size: 20px;
  color: red;
  background-color: transparent;
  border: 0;
  padding-right: 10px;
}
.purchase-product {
  cursor: pointer;
  padding-top: 20px;
}
.purchase-product > div {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}
.purchase-product > div span {
  font-size: 12px;
}
.purchase-product h6 {
  font-size: 14px;
}
.main-container {
  padding: 100px 25px 0 25px;
}
.quantity {
  padding: 5px 20px 7px 20px;
  border-top: 2px solid #343a40;
  border-bottom: 2px solid #343a40;
}
.total-cart {
  position: fixed;
  width: 90%;
  max-width: 370px; 
  text-align: center;
}
.filter-price {
  display: flex;
  justify-content: space-between;
}
.search-product {
  display: flex;
}
.side-bar {
  overflow-y: scroll;
  height: 400px;
}
.side-bar::-webkit-scrollbar {
  -webkit-appearance: none;
}
.side-bar::-webkit-scrollbar:vertical {
  width: 10px;
}
.side-bar::-webkit-scrollbar-buton:increment, .side-bar::-webkit-scrollbar-button {
  display: none;
}
.side-bar::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.side-bar::-webkit-scrollbar-track {
  border-radius: 10px;
}
.btn-nav {
  background-color: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.55);
}
.btn-nav:hover {
  color: #fff;
}

@media (max-width: 992px ) and (min-width: 768px) {
  .carousel {
    height: 250px;
  }
  .img-carousel {
    max-width: 200px;
    max-height: 200px;
  }
}
@media (max-width: 540px) {
  .main-container {
    padding-top: 130px;
  }
}
@media (max-width: 500px) {
  .carousel {
    height: 250px;
  }
  .img-carousel {
    max-width: 200px;
    max-height: 200px;
  }
  .me-auto {
    width: auto;
  }
  .purchase-product > div {
    flex-direction: column;
  }
}
@media (max-width: 433px) {
  .search-product {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .container-flex {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 365px) {
  .main-container {
    padding-top: 155px;
  }
}